{% extends 'layout.html' %}

{% block content %}

<div class="content">
    <form id="db_scanner" action="{{ url_for('db_scanner') }}" method="POST">
        <br><br><br><br><br>
        <div class="row form-group">
            <div class="col-2"></div>
            <div class="col-8 text-center">
                <div id="select-db">
                    <h5>Selecteaza baza de date</h5>
                    <div class="row">
                        <div class="col-4"></div>
                        <div class="col-4">
                            <select name="dbs" id="dbs" class="form-control">
                                <option disabled>--alege o baza--</option>
                                {% for db in av_db %}
                                    <option value="{{db}}">{{db}}</option>
                                {% endfor %}
                            </select>
                            <br>
                            <input type="button" class="btn btn-primary" value="Selecteaza" onclick="selectDatabase()">
                        </div>
                        <div class="col-4"></div>
                    </div>
                </div>
                <br>
                <div id="loading" class="d-none">
                    <img src="static/loading.gif">
                </div>
                <br><br>
                <div id="select-tb" class="d-none">
                    <h5>Selecteaza tabelul/tabelele</h5>
                    <div class="row">
                        <div class="col-4"></div>
                        <div class="col-4">
                            <select multiple name="tbs" id="tbs" class="form-control">
                                <option disabled>--alege tabel--</option>
                            </select>
                            <br>
                            <input type="submit" class="btn btn-primary" value="Alege">
                        </div>
                        <div class="col-4"></div>
                    </div>
                </div>
            </div>
            <div class="col-2"></div>
        </div>
    </form>
</div>
<script>

    function selectDatabase() {
        $('#loading').removeClass('d-none');
        $('#select-tb').addClass('d-none');
        let db = $('#dbs').val();
        setTimeout( () => { 
            $.post(
                '/get-tables', 
                {'db': db},
                (result) => {
                    let options = $('#tbs');
                    result.available_tables.forEach( (table, index) => {
                        options.append($("<option />").val(table).text(table));
                    });
                    $('#loading').addClass('d-none');
                    $('#select-tb').removeClass('d-none');
                }
            );
         }, 1000 );
        
    }

</script>
{% endblock %}