{% extends 'layout.html' %}

{% block content %}

<style>
    .wrapper {
        text-align: center;
    }
</style>

{% set pk_json = json.dumps(pk) %}
{% set table_names = json.dumps(values) %}

<div class="content">
    <div class="row form-group">
        <div class="col-1"></div>
        <div class="col-10">
            <div class="row">
                <div class="col-2"></div>
                <div class="col-8">
                    <br><br>
                    <div class="card">
                        <div class="card-header">
                            <h4>Raport De Integritate</h4>
                        </div>
                        <div class="card-body">
                            {% for p in pk %}
                                {% if p['status'] == 0 %}
                                    <p>Tabelul {{p.table_name}} nu are nicio cheie primara</p>
                                {% elif p['status'] == 1 %}
                                    <p>Tabelul {{p.table_name}} are cheie primara dar nu este numerica</p>
                                {% elif p['status']  == 2 %}
                                    <p>Tabelul {{p.table_name}} are mai multe chei primare</p>
                                {% endif %}
                            {% endfor %}
                            {% for n in nn %}
                                <p>Tabelul {{n}} nu are nicio constrangere not null in afara de cheia primara</p>
                            {% endfor %}
                        </div>
                        <div class="card-footer wrapper">
                            {% if pk %}
                                <input type="button" class="btn btn-primary" value="Normalizare cheie primara" onclick="repairPk(this)" data-e="{{pk_json}}">
                            {% endif %}
                            {% if nn %}
                                <input type="button" class="btn btn-primary" value="Normalizare constrangere de existenta" onclick="repairNN(this)" data-e="{{nn}}">
                            {% endif %}
                            <input type="button" class="btn btn-primary" value="Adaugare constrangere not null" onclick="addNN(this)" data-e="{{table_names}}">
                        </div>
                    </div>
                    <br>
                    <div class="row form-group wrapper">
                        <div class="col-4"></div>
                        <div class="col-4 text-right">
                            {% if pk or nn %}
                                <select name="tbsp" id="tbsp" class="form-control d-none"></select >
                            {% endif %}
                        </div>
                        <div class="col-4 text-left">
                            <input type="button" class="btn btn-primary d-none" id="repairPk" value="Aplica" onclick="Pk(this)">
                            <input type="button" class="btn btn-primary d-none" id="repairNN" value="Aplica" onclick="NN(this)">
                            <input type="button" class="btn btn-primary d-none" id="addNN" value="Adauga" onclick="NNadd(this)">
                        </div>
                    </div>
                    <div class="wrapper">
                        <button class="btn btn-primary" onclick="javascript: window.location.href = window.location.origin">Inapoi</button>
                    </div>
                </div>
                <div class="col-2"></div>
            </div>
            <br><br>
            <div class="row">
                {% for val in values %}
                    <div class="col-6">
                        <h4>Nume Tabel: {{val[0].table_name}}</h4>
                        <table class="table table-strilabeled table-dark">
                            <thead>
                            <tr class="text-center">
                                <th scope="col">Nume Coloana</th>
                                <th scope="col">Tip de data</th>
                                <th scope="col">Cheie Primara</th>
                                <th scope="col">NOT NULL</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for v in val %}
                            <tr class="text-center">
                                <td>{{v.column_name}}</td>
                                <td>{{v.data_type}}</td>
                                <td>{{ 'DA' if v.column_type == 'PRI' else '' }}</td>
                                <td>{{ 'DA' if v.is_null == 'NO' else ''}}</td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        <br><br>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-1"></div>
    </div>
    <input type="hidden" id="db" value="{{db}}">
</div>
<div class="modal fade" id="NNModal" tabindex="-1" role="dialog" aria-labelledby="NNModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="NNModalTitle">Selecteaza coloana</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <label>Alege coloanele unde vrei sa aplici constrangerea not null:</label>
            <div id="cols" class="form-group"></div>
            <div id="error"></div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Renunta</button>
          <button type="button" class="btn btn-primary" onclick="applyNN(this, 1)">Aplica</button>
        </div>
      </div>
    </div>
</div>
<div class="modal fade" id="PKModal" tabindex="-1" role="dialog" aria-labelledby="PKModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="PKModalTitle">Modificare</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div id="modal-cols-pk" class="form-group"></div>            
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Renunta</button>
          <button type="button" class="btn btn-primary" onclick="applyPK(this)">Aplica</button>
        </div>
      </div>
    </div>
</div>
<div class="modal fade" id="NNModalAdd" tabindex="-1" role="dialog" aria-labelledby="NNModalAddLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="NNModalAddTitle">Selecteaza coloana</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <label>Alege coloanele unde vrei sa aplici constrangerea not null:</label>
            <div id="cols-nnadd" class="form-group"></div>
            <div id="error-nnadd"></div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Renunta</button>
          <button type="button" class="btn btn-primary" onclick="applyNN(this, 2)">Aplica</button>
        </div>
      </div>
    </div>
</div>
<script type="text/html" id="template_add_pk">
    <label>In acest caz se va adauga o noua coloana de tip cheie surogata</label>
    <label>Introdu numele cheii surogate:</label>
    <div id="cols-pk" class="form-group"></div>
    <div id="error-pk"></div>
</script>
<script type="text/html" id="template_not_selected">
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        Alege macar o coloana
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
</script>
<script type="text/html" id="template_not_completed">
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        Campul trebuie completat
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
</script>
<script type="text/javascript">

    let interval = setInterval(function(){
        if($){
            $('#NNModal').on('hidden.bs.modal', function () {
                $('#cols').html('');
                $('#error').html('');
            });
            $('#PKModal').on('hidden.bs.modal', function() {
                $('#cols-pk').html('');
                $('#error-pk').html('');
              });
        
            $('#NNModalAdd').on('hidden.bs.modal', function() {
                console.log('bag pula');
                $('#cols-nnadd').html('');
                $('#error-nnadd').html('');
              });
            clearInterval(interval);    
        }
        
    },300);

    function applyNN(action, type){

        let selected = [];

        if (type == 1) {

            $('#cols input:checked').each(function() {
                selected.push($(this).attr('id'));
            });

        } else if (type == 2) {

            $('#cols-nnadd input:checked').each(function() {
                selected.push($(this).attr('id'));
            });

        }

        if (selected.length == 0){

            if  (type == 1)
                $('#error').html($('#template_not_selected').text());
            else if ( type == 2 )
                $('#error-nnadd').html($('#template_not_selected').text());

            return;
        }

        $.post(
                'apply-nn',
                {
                    'db': $('#db').val(),
                    'tb': $('#tb').val(),
                    'columns': selected
                },
                (result) => {
                    window.location.reload();
                }
        );

    }

    function applyPK(action){
        let status  = Number($('#status-pk').val()),
            pk_name = $('#pk_name').val(),
            db = $('#db').val(),
            tb = $('#tb').val();

        if ( pk_name === '' ){
            $('#error-pk').html( $('#template_not_completed').text() );
            return;
        }

        $.post(
                'apply-pk',
                {
                    'db': db,
                    'tb': tb,
                    'pk': pk_name,
                    'status': status
                },
                (result) => {
                    window.location.reload();
                }
        );
    
    }

    function Pk(action) {
        
        $('#PKModal').modal('show');

        let status = Number($( "#tbsp option:selected" ).data('status'))

        $('#modal-cols-pk').html($('#template_add_pk').text());
        $('#cols-pk').append('<input type="text" class="form-control" id="pk_name"/>')
        $('#cols-pk').append('<input type="hidden" id="status-pk" value="' + status +'" />');
        $('#cols-pk').append('<input type="hidden" id="tb" value="' + $( "#tbsp option:selected" ).text() + '"/>');
       
    }

    function NN(action) {

        $('#NNModal').modal('show');

        $.post(
                'get-table-content',
                {
                    'db': $('#db').val(),
                    'tb': $( "#tbsp option:selected" ).text()
                },
                ( result ) => {

                    if (result.columns.length == 0) {

                        $('#cols').append('<div class="alert alert-primary" role="alert">Nu exista nicio coloana care sa accepte null</div>');

                    } else {

                        result.columns.forEach( (column) => {
                            $('#cols').append('<label><input type="checkbox" id="' + column + '"/>&nbsp' + column + '</label></br>');
                        } );
                        $('#cols').append('<input type="hidden" id="tb" value="' + $( "#tbsp option:selected" ).text() + '"/>');

                    }
                }
        );

    }

    function NNadd(action) {

        $('#NNModalAdd').modal('show');

        $.post(
                'get-table-content',
                {
                    'db': $('#db').val(),
                    'tb': $( "#tbsp option:selected" ).text()
                },
                ( result ) => {

                    if (result.columns.length == 0) {

                        $('#cols-nnadd').append('<div class="alert alert-primary" role="alert">Nu exista nicio coloana care sa accepte null</div>');

                    } else {

                        result.columns.forEach( (column) => {
                            $('#cols-nnadd').append('<label><input type="checkbox" id="' + column + '"/>&nbsp' + column + '</label></br>');
                        });

                        $('#cols-nnadd').append('<input type="hidden" id="tb" value="' + $( "#tbsp option:selected" ).text() + '"/>');
                    }
                }
        );
    }

    function addNN(action) {
        $('#repairPk').addClass('d-none');
        $('#repairNN').addClass('d-none');
        $('#addNN').addClass('d-none');

        if ( $('#tbsp').hasClass('d-none') ) {

            let list = $(action).data('e');
            let list_names = [];

            list.forEach( (table) => {
                list_names.push(table[0].table_name)
            });

            options = $('#tbsp')
            options.html('');
            options.append('<option disabled>--alege un tabel--</option>');

            list_names.forEach( (table) => {
                options.append($("<option />").val(table).text(table));
            });

            $('#tbsp').removeClass('d-none');
            $('#addNN').removeClass('d-none');

        } else {

            $('#tbsp').addClass('d-none');
            $('#repairNN').addClass('d-none');

        }

    }

    function repairPk(action) {

        $('#repairPk').addClass('d-none');
        $('#repairNN').addClass('d-none');
        $('#addNN').addClass('d-none');

        if ( $('#tbsp').hasClass('d-none') ) {

            let list = $(action).data('e');
    
            options = $('#tbsp')
            options.html('');
            options.append('<option disabled>--alege un tabel--</option>');
    
            list.forEach( (table) => {
                options.append($("<option />").val(table.table_name).text(table.table_name).attr("data-status", table.status));
            });
    
            $('#tbsp').removeClass('d-none');
            $('#repairPk').removeClass('d-none');


        } else {

            $('#tbsp').addClass('d-none');
            $('#repairPk').addClass('d-none');

        }

    }

    function repairNN(action) {

        $('#repairPk').addClass('d-none');
        $('#repairNN').addClass('d-none');
        $('#addNN').addClass('d-none');

        if ( $('#tbsp').hasClass('d-none') ) {

            let list = $(action).data('e');
            list = list.replace(/'/g, '').replace('[', '').replace(']', '');

            options = $('#tbsp')
            options.html('');
            options.append('<option disabled>--alege un tabel--</option>');

            table = list.split(',');
            table.forEach( (table) => {
                options.append($("<option />").val(table).text(table));
            });

            $('#tbsp').removeClass('d-none');
            $('#repairNN').removeClass('d-none');

        } else {

            $('#tbsp').addClass('d-none');
            $('#repairNN').addClass('d-none');

        }

    }

</script>
{% endblock %}